<div class="card">23.00


  <div class="card-body">
    <h4 class="card-title">{{locale}}</h4>
    <h4>locale: {{example}}</h4>

    <pre>{{configs['a']|json}}</pre>
    <input type="text"
           tabindex="1"
           autonumeric
           [locale]="locale"
           [minValue]="0"
           [isThousandSeparator]="true"
           (exportConfig)="setConfigs('a', $event)">

    <hr>

    <pre>{{configs['b']|json}}</pre>

    <input
      type="text"
      tabindex="1"
      autonumeric
      [locale]="locale"
      [isThousandSeparator]="false"
      (exportConfig)="setConfigs('b', $event)">
    <hr>

    <pre>{{configs['c']|json}}</pre>

    <input
      type="text"
      tabindex="1"
      autonumeric
      [locale]="locale"
      [decimalPlaces]="3"
      [isThousandSeparator]="false"
      (exportConfig)="setConfigs('c', $event)">


    <pre>{{configs['d']|json}}</pre>

    <input
      type="text"
      tabindex="1"
      autonumeric
      [locale]="locale"
      [decimalPlaces]="7"
      [isThousandSeparator]="false"
      (exportConfig)="setConfigs('d', $event)">
  </div>
</div>

