<div class="card">


  <div class="card-body">
    <h4 class="card-title">{{locale}}</h4>
    <h4>locale: {{example}}</h4>

    <pre>{{configs['a']|json}}</pre>
    <p>raw: {{inputs['a']}}</p>
    <input type="text"
           tabindex="1"
           (rawValue)="inputs['a']=$event"
           autonumeric
           [locale]="locale"
           [decimalPlaces]="2"
           [minValue]="0"
           [isThousandSeparator]="true"
           (exportConfig)="setConfigs('a', $event)">

    <hr>

    <pre>{{configs['b']|json}}</pre>
    <p>raw: {{inputs['b']}}</p>

    <input
      type="text"
      tabindex="1"
      autonumeric
      (rawValue)="inputs['b']=$event"
      [locale]="locale"
      [isThousandSeparator]="false"
      (exportConfig)="setConfigs('b', $event)">
    <hr>

    <pre>{{configs['c']|json}}</pre>
    <p>raw: {{inputs['c']}}</p>
    <input
      type="text"
      tabindex="1"
      autonumeric
      (rawValue)="inputs['c']=$event"
      [locale]="locale"
      [decimalPlaces]="3"
      [isThousandSeparator]="false"
      (exportConfig)="setConfigs('c', $event)">

    <hr>
    <pre>{{configs['d']|json}}</pre>
    <p>raw: {{parseResult(inputs['d'])}}</p>
    <input
      type="text"
      tabindex="1"
      autonumeric
      (rawValue)="inputs['d']=$event"
      [locale]="locale"
      [decimalPlaces]="7"
      [isThousandSeparator]="false"
      (exportConfig)="setConfigs('d', $event)">
  </div>
</div>

