
<a href="https://github.com/autoNumeric/autoNumeric" target="_blank">https://github.com/autoNumeric/autoNumeric</a> <br>
<a href="https://github.com/mzigus/number-format-demo" target="_blank">https://github.com/mzigus/number-format-demo</a>

<div class="row">


<app-number class="col-3" [locale]="'de-DE'" ></app-number>
<app-number class="col-3" [locale]="'en-US'"></app-number>
<app-number class="col-3" [locale]="'de-CH'" ></app-number>
<app-number class="col-3" [locale]="'pl-PL'" ></app-number>

</div>
